.modal{
    --modal-margin-y: 3em;
    --modal-margin-x: 5em;
    
    position: fixed;
    height: 100vh;
    width: 100vw;
    
    background-color: #000000c0;
    color: #fff;
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
    z-index: 4;
}

.modal > .payload {
    height: calc(100vh - (var(--modal-margin-y)*2));
    width: calc(100vw - (var(--modal-margin-x)*2));
    overflow: auto;

    position: relative;

    padding: 1em;
    box-sizing: border-box;

    background-color: #ffffffe0;
    color: var(--dark);
    
    border: 1px solid black;
    border-radius: 1em;
}

.modal > .payload > .close-btn {
    position: fixed;
    top: 0;
    right: 0;
    top: var(--modal-margin-x);
    right: var(--modal-margin-y);
    height: 1.5em;
    width: 1.5em;
    border-radius: 1em;
    background-color: var(--danger);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > .payload > .close-btn > * {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

@media screen and (max-width: 992px) {
    .modal > .payload {
        --current-coef: 0.5;

        height: calc(100vh - ((var(--modal-margin-y)*2) * var(--current-coef) ));
        width: calc(100vw - ((var(--modal-margin-x)*2) * var(--current-coef) ));
    }

    .modal > .payload > .close-btn {
        top: calc(var(--modal-margin-x) * var(--current-coef) );
        right: calc(var(--modal-margin-y) * var(--current-coef));
    }
}