@import url(./carousel.css);

.whoami {
    display: flex;
    align-items: center;
    justify-content: space-around;

    min-height: 100vh;
    width: 100vw;
    max-width: 2048px;
} 

.whoami__img {
    max-width: 50vw;
}

@media screen and (max-width: 768px) {
    .whoami {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}